.cor_fundo_login{
  background-color: #A2E3E9;
  font-family: Bariol;
}
.cor_fundo_criarConta{
  background-color: #6BFF9C;
  font-family: Bariol;
}
.cor_fundo_app{
  background-color: #A2E3E9;
  font-family: Bariol;
}

/*INICIO CSS PAG.CRIAR CONTA*/
.criar_conta_conteudo{
  text-align: center;
  margin-top: 60px;
  width:40%
}

.criar_conta_titulo{
  padding-top: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #116564;
}

.criar_conta_username{
  float: left;
}

.criar_conta_box_username{
  width: 100%;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #999966;
  border-radius: 4px;
}

.criar_conta_email{
  float: left;
}

.criar_conta_box_email{
  width: 100%;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #999966;
  border-radius: 4px;
}

.criar_conta_password{
 float: left;
}

.criar_conta_box_password{
  width: 100%;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #999966;
  border-radius: 4px;
}

.criar_conta_botao{

}
/*FIM CSS PAG.CRIAR CONTA*/
/*INICIO CSS PAG.LISTA DE TAREFAS*/
.images_tasks_add{
  width: 100px;
  height: 100px;
}
/*FIM CSS PAG.LISTA DE TAREFAS*/
.login_container{
  text-align: center;
  margin-top: 60px;
  width:40%;
}

/*Pagina LOGIN*/
.login_name{
  float:left;
}

/*Log in botão*/
.btn-info:hover {
  color: #fff;
  background-color: #116564;
  border-color: #116564;
}

/*Tirar sublinhado dos links*/
a:hover{
  text-decoration: none;
}

/*Por cor nos links*/
p a{
  color: #0DA8A6;
}

.btn-info {
  color: #fff;
  background-color: #0DA8A6;
  border-color: #0DA8A6;
}

.input-group-addon, .form-control{
  border: 2px solid #0DA8A6;
}

.login_namebox{
  width: 100%;
  padding: 10px 10px;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #999966;
  border-radius: 4px;
}

.login_password{
  float:left;
}

.login_titulo{
  padding-top: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #116564;
}

.login_passwordbox{
  width: 100%;
  padding: 10px 10px;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #999966;
  border-radius: 4px;
}
.login_create{
  color: #116564;
}

.form-group{
  float: left;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 15px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
/*Fim da pagina login*/


/*Pagina taskdetails*/
.Details_group{
  width: 60%;
  margin-left: 20%;
}

.Details_title{
  text-align: center;
}

.Details_disc{
  font-size: 16px;
  /*texto da descricao, definir depois*/
  text-align: justify;
}


.Details_date
{
  text-align: center;
font-size: 30px;
}

.Details_bottom{
  position: fixed;
  bottom: 0px;
  background-color: gray;
  width: 100%;
  font-size: 30px;
  padding-top: 15px;
  text-align: center;
}
/* Fim da pagina taks details*/

/*Inicio da pagina joinGroup*/
.joingroup_container{
  text-align: center;
  width: 80%
}

.joingroup_name{
  float:left;
  font-size:20px;
}

.joingroup_namebox{
  width: 100%;
  padding: 10px 10px;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #999966;
  border-radius: 4px;
}

.joingroup_password{
  float:left;
  font-size:20px;
}

.joingroup_passwordbox{
  width: 100%;
  padding: 10px 10px;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #999966;
  border-radius: 4px;
}

.joingroup_bottom{
  width: 100%;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/* Fim da pagina join groups */

/*Inicio da pagina create group*/
.creategroup_container{
  text-align: center;
  width: 80%
}

.creategroup_name{
  float:left;
  font-size:20px;
}

.creategroup_namebox{
  width: 100%;
  padding: 10px 10px;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #999966;
  border-radius: 4px;
}

.creategroup_password{
  float:left;
  font-size:20px;
}

.creategroup_passwordbox{
  width: 100%;
  padding: 10px 10px;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #999966;
  border-radius: 4px;
}

.creategroup_botoes{
  width: 100%;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
/*Fim da pagina create group*/


/*Inicio da pagina groupInfo*/
.groupinfo_container{
  width: 80%;
}
.groupinfo_memberstitle{
  font-size: 20px;
}
.groupinfo_qrcode{
  font-size: 20px;
}
.groupinfo_table{
  font-size: 14px;
}
.groupinfo_botoes{
  width: 100%;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/*Fim da pagina groupInfo*/

/*Inicio da pagina QR Code*/
.qrcode_container{
  width: 80%;
  text-align: center;
}
.qrcode_title{
  font-size:30px;

}
/*Fim da pagina QR Code*/

/*Index titulo*/
.index_level_strike_titulo{
  font-size: 70px;
}
/*Alinhar index*/
.alinhar_index{
  margin-top: 60px;
}
/*Alinhar welcome index*/
.index_welcome{
  font-size: 30px;
}
/*Formatar logo index*/
.logo_index{

}


@media (max-width: 768px) {
.criar_conta_conteudo{
    width: 60%;
  }
}

@media (max-width: 768px){
  .login_container{
    text-align: center;
    width: 60%
}
/*List group do grupoXList*/
.list-group-item.active{
  margin-top: 10px;
}
/*List group titulo*/
.panel-heading {
  font-size: 25px;
  border-bottom: 3px solid #116564;
  font-weight: bold;
}

.panel-heading:hover{
  background-color: white;
}

.groupList_estilo{
  color: #116564;
}

.titulo_groupList{
  color: white;
}

/*List group alinhar nome*/
.groupXList_alinhar_nome_master{
  font-size: 18px;
  font-weight: normal;
  color: #116564;
}

/*Tamanho dos botões na main*/
@media (max-width: 1600px){
  .images_main_tasks, .images_main_add, .images_main_group, .images_main_addgroup{
    width: 120px;
    height: 120px;
  }
}

/*Posição dos botões na main*/
.main_botoes{
  margin-top: 75px;
}

/*Estilo dos botões na main*/
.main_titulos_menu{
  font-size: 18px;
  font-weight: bold;
  color: #116564;
}

/*Form da add tasks*/
.addTasks_titulo, .addTasks_assunto, .addTasks_validade{
  width: 100%;
  margin: 2% 0;
  box-sizing: border-box;
  border: 2px solid #0DA8A6;
  border-radius: 4px;
}

/*Titulos add task*/
.titulos_addTasks{
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.titulo_newTask{
  color: white;
}

/*Imagem addTaskGroup*/
.add_tasks_group{
  width: 100px;
  height: 100px;
}

/*NavBar*/
.navbar_levelStrike{
  float: left;
  margin-left: 10px;
  color: white;
  font-size: 20px;
}

.navbar_titulo_pagina{
  float: left;
  color: white;
  font-size: 20px;
}

.container>.navbar-header {
  background-color: #116564;
}

.navbar-default .navbar-toggle  {
  border-color: #A2E3E9;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #A2E3E9;
}

.navbar-default .navbar-toggle:hover {
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  background-color: #116564;
}

/*Active*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #35F5B4;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  font-weight: bold;
  background-color: #116564;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: white;
}

/*List Tasks*/
a.list-group-item .list-group-item-heading, .list-group-item-text{
  color: #116564;
}
